cryptography==3.2.1
Cython==0.29.21
docutils==0.16
Flask==1.1.2
gunicorn==20.0.4
importlib_metadata==2.0.0
lxml==4.6.1
mock==4.0.2
mypy_extensions==0.4.3
nets==0.0.3
ordereddict==1.1
Pillow==8.0.1
scipy==1.5.4
simplejson==3.17.2
tensorflow==2.3.1
wincertstore==0.2
zipp==3.4.0
six==1.15.0
contextlib2==0.6.0.post1
matplotlib==3.3.3
nets==0.0.3
numpy==1.19.4
pandas==1.1.4
protobuf==3.14.0
pycocotools==2.0.2