* {
  box-sizing: border-box;
}
.page {
  display: grid;
  grid-template-areas: "main sidebar";
  grid-template-columns: 3fr 1fr;
  height: 100vh;
  width: 100vw;
  padding: 24px 20px;
}

.loader {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(255,255,255,0.3);
  height: 100%;
}

.loader::before,
.loader::after {
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 20px;
  height: 20px;
  width: 20px;
  animation: spin 1s infinite;
  background-color: black;
  transform-origin: top left;
  content: '';
}

.loader::after {
  transform-origin: bottom right;
}
@keyframes spin {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.main {
  display:flex;
  position: relative;
  justify-content: center;
  place-items: center;
  grid-area: main;
}

.main.is-empty::after {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  content: 'Upload an image to start';
}

.canvas {
  width: 100%;
  height: auto;
  max-width: 100%;
  background-color: #eeeeee;
}

.canvas.is-vertical {
  width: auto;
  height: 100%;
  max-height: 100%;
}

.sidebar {
  display:flex;
  flex-direction: column;
  grid-area: sidebar;
  padding: 0 20px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  border-bottom: 1px solid #eeeeee;
  padding: 12px 20px;
  position: relative;
}

.row-title {
  margin: 0 0 4px;
  font-weight: bold;
}

.row button {
  position: absolute;
  right: 20px;
  bottom: 32px;
  outline: none;
  border: none;
  text-transform: uppercase;
  font-weight: bold;
  appearance: none;
  background-color: red;
  color: white;
  margin-left: auto;
}

.row.options {
  border-top: 1px solid #eee;
  display: flex;
  font-size: 0.7em;
  justify-content: space-between;
  flex-direction: row-reverse;
}

.row.options:nth-child(2) {
  margin-top: auto;
}
.row.options input {
  margin: 0;
  padding: 0;
}

.input-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4px;
  padding-right: 80px;
}

.input-row input {
  width: 48px;
  margin-left: auto;
}

.downloader,
.uploader {
  outline: none;
  border: none;
  font-size: 1em;
  background-color: #eeeeee;
  color: white;
  font-weight: 500;
  border-radius: 4px;
  text-transform: uppercase;
  text-align: center;
  padding: 8px;
  position: relative;
  overflow: hidden;
}

.uploader label {
  background-color: #0078e7;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  place-items: center;
  bottom: 0;
}

.uploader label:active {
  background-color: #054581;
  color: white;
}

.uploader label {
  width: 100%;
}

.uploader input {
  visibility: hidden;
  width: 0;
  height: 0;
}

.downloader {
  background-color: rgb(28, 184, 65);
  text-decoration: none;
  margin-top: 8px;
}
.downloader:focus {
  background-color: rgb(24, 107, 43);
}