.split-text[data-v-16c2bb] {
  --line-height: 1.4;
  --line: (1em * var(--line-height));
  line-height: var(--line-height);
  font-family: "Times New Roman", "Palatino", "Palatino Linotype", Times, serif;
  position: relative;
  background: repeating-linear-gradient(to bottom, currentColor 0, currentColor calc(0.5 * var(--line)), transparent calc(0.51 * var(--line)), transparent calc(1 * var(--line)));
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 500;
  text-transform: uppercase;
  padding: 0 20px;
}
.split-text[data-v-16c2bb]::after {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  font-family: "Palatino", "Palatino Linotype", "Times New Roman", Times, serif;
  background: repeating-linear-gradient(to bottom, transparent 0, transparent calc(0.5 * var(--line)), currentColor calc(0.51 * var(--line)), currentColor calc(1 * var(--line)));
  background-clip: text;
  content: attr(content);
  font-size: 0.994em;
  text-align: center;
  letter-spacing: -0.02em;
}
.header[data-v-97bdee] {
  color: white;
  background-color: black;
  width: 100vw;
  height: 95vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  place-content: center;
  place-items: center;
}
.title[data-v-97bdee] {
  margin: 0;
  font-size: 8vw;
}
.subtitle[data-v-97bdee] {
  margin: 0;
  font-size: 6vw;
}
.comparison[data-v-bcae84] {
  display: flex;
  flex-direction: row;
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 20px 60px;
  justify-content: center;
  flex-wrap: wrap;
}
.title[data-v-bcae84] {
  text-align: center;
  margin: 0 auto;
  width: 75%;
  font-size: 32px;
}
.title[data-v-bcae84]:first-of-type {
  margin-top: 12px;
}
.title + .subtitle[data-v-bcae84] {
  margin-top: 12px;
}
.subtitle[data-v-bcae84] {
  text-align: center;
  width: 50%;
  margin: 0 25% 12px;
}
.left[data-v-bcae84],
.right[data-v-bcae84] {
  width: calc(50% - 24px);
  margin: 12px;
}
.container[data-v-07cd4a],
.image[data-v-07cd4a] {
  width: 100%;
}
img[data-v-07cd4a] {
  width: 100%;
  margin: 0;
  display: block;
}
.caption[data-v-07cd4a] {
  color: #333;
  margin: 0.5em 0;
  font-size: 14px;
}
.image[data-v-92711c],
.background[data-v-92711c] {
  position: relative;
  width: 100%;
}
.overlay[data-v-92711c] {
  position: absolute;
}
.has-borders[data-v-92711c] {
  border: 1px solid white;
}
.is-hidden[data-v-92711c] {
  opacity: 0;
}
.image[data-v-32671a],
.background[data-v-32671a] {
  position: relative;
  width: 100%;
}
.foreground[data-v-32671a] {
  position: absolute;
}
.has-borders[data-v-32671a] {
  border: 1px solid white;
}
.is-hidden[data-v-32671a] {
  opacity: 0;
}
